/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */


/* .heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
} */


/* HERO SECTION */

.heroSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 40px;
    background: #2f1a54;
    color: #fff;
    border-radius: 20px;
    margin-bottom: 50px;
}

.heroContent {
    width: 50%;
}

.heroTitle {
    font-size: 48px;
    color: white;
    font-weight: 900;
    margin-bottom: 15px;
}

.heroSubtitle {
    font-size: 18px;
    opacity: 0.9;
    color: white;
    margin-bottom: 25px;
}

.heroButton {
    background: #fff;
    color: #6a3cbc;
    padding: 14px 28px;
    font-size: 18px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
}

.heroButton:hover {
    background: #eee;
}


/* HERO IMAGE */

.heroImageBox {
    width: 45%;
    display: flex;
    justify-content: center;
}

.heroImage {
    width: 100%;
    max-width: 380px;
    border-radius: 15px;
}

.readSection {
    /* background: #f6edff; */
    /* halka purple */
    padding: 60px 0;
}

.readCard {
    background: #4d00b9;
    /* card ka white color */
    border-left: 4px solid #8b37ff;
    /* purple line */
    padding: 18px 20px;
    margin: 15px 0;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 17px;
}


/* SECTIONS */

.section {
    padding: 60px 30px;
}

.sectionAlt {
    padding: 60px 30px;
    background: transparent;
}

.sectionTitle {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    color: #ffffff;
}


/* CARDS */

.cardGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.card {
    background: rgba(106, 13, 173, 0.2);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
    border: 1px solid #e5dafb;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}


/* FEATURE LIST */

.featureList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 700px;
    margin: auto;
}

.featureItem {
    background: rgba(106, 13, 173, 0.2);
    padding: 15px 20px;
    border-radius: 10px;
    border-left: 5px solid #6a3cbc;
    font-size: 18px;
}